body {
  background-color: #ccc;
  font-family: "Arial";
  font-size: 16px;
}
.accordion {
  max-width: 800px;
  margin: 0 auto;
  transition: all .5 ease;
}
.tab input,
.tab-content {
  display: none;
}
.tab {
  background-color: rgb(36, 151, 228);
  color: rgb(238, 223, 8);
  border-radius: 3px;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.tab-title {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  font-weight: bold;
  position: relative;
}
.tab-content {
  text-align: center;
  padding: 10px 15px;
}
.tab-content img{
  max-width: 100%;
}
.tab :checked + .tab-title {
  background-color: rgb(9, 65, 102);
  color: #fff;
}
.fa-circle-plus{
    width: 10px;
    height: 10px;
    opacity: 0;
}
 
.tab:hover  .fa-circle-plus,
.tab:checked  .fa-circle-plus {
  transform: rotateZ(300deg);
  opacity:1;
  
  transition: all 0.6s ease 

}
.accordion:hover .fa-circle-plus {
    
  opacity:1;
}

.tab :hover ~ .tab-content,
.tab :checked ~ .tab-content,
.tab-content:hover {
  display: block;
}

.tab :hover ~ svg,
.tab :checked ~ svg,
svg:hover {
  display: block;
}
