body {
  background-color: #ccc;
  font-family: "Arial";
}
.accordion {
  max-width: 800px;
  margin: 0 auto;
}
.tab input,
.tab-content {
  display: none;
}
.tab {
  background-color: rgb(36, 151, 228);
  color: rgb(238, 223, 8);
  border-radius: 3px;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.tab-title {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  font-weight: bold;
  position: relative;
}
.tab-content {
  text-align: center;
  padding: 10px 15px;
}
.tab :checked + .tab-title {
  background-color: rgb(9, 65, 102);
  color: #fff;
}
svg path {
  stroke: red;
}
svg {
  max-width: 20px;
  max-height: 20px;
  fill: aqua;
  transition: all 0.1 ease;
}
svg:hover {
  transform: rotateZ(45deg);
}
.tab :hover ~ rotate-plus,
.tab :checked ~ rotate-plus {
  transform: rotateZ(180deg);
}

.tab :hover ~ .tab-content,
.tab :checked ~ .tab-content,
.tab-content:hover {
  display: block;
}

.tab :hover ~ svg,
.tab :checked ~ svg,
svg:hover {
  display: block;
}
